$mobile: 500px;
$tablet-portait: 800px;
$tablet-landscape: 1080px;
$big-screen: 1200px;
$default-radius: 0.5rem;
:root {
  --color-blue-dark: #292a73;
  --color-blue-dark-1: #38399b;
  --color-orange: #f7a400;
  --color-white: #ffff;
  --color-black: #000000;
}
// .dark {
// }
